.App {
  text-align: center;
  /* position:relative; */
}

body{
/* width:1536px; */
margin: 0;  
overflow-x: hidden;
background-color: black;
}

/* //__Old Nav __________________START*/

/* .navcont{
  height:45px;
  opacity:1;
  background-color: rgba(77, 93, 85, 0.868);

}

button{
  height:42.5px;
  margin:.5px;
  margin-right:1.3px;
  width:85px;
  opacity:.7;
  background-color: rgba(53, 60, 57, 0.618);
  color:white;
  cursor:pointer;
  border-radius:2px;
  border: inset .2px rgb(50, 71, 50);
  box-shadow:0 0 4.4px rgb(30, 38, 36);
}

button:hover{
  height:45px;
  width:84.4px;
  background-color: rgba(110, 142, 126, 0.618);
  color:white;
  cursor:pointer;
  border-radius:2px;
  border: inset .2px rgb(50, 71, 50);
  opacity:.6;
}

button:active{
  height:45px;
  background-color: rgba(26, 33, 30, 0.803);
  color:white;
  cursor:pointer;
  border-radius:2px;
  border: inset 4px rrgb(36, 41, 36);
  box-shadow: 0 0 0px;
} */

/* //__Old Nav __________________END*/


.topContain{
  height:70vh;
}

.logoImg{
  height:200px;
  opacity:1;
  margin-top:2.6%;
  /* margin-top:49.8%; */
  /* margin-left:-1.5%; */
  margin-right:-68.5%;
  width:auto;
  position:absolute;
  left:2%;
}

.parallax{
  display:grid;
  grid-template-areas: "stack";
  /* position:relative; */
}

.headCont{
  background-image: url("https://i.ibb.co/PxZCvGj/main-mic-bkg.jpg");
  background-size:100%;
  height:1200px;
  /* height:100vh; */
  grid-area: "stack";
  position:relative;
  background-repeat: no-repeat;
}
.waveformGif{
  /* display:block; */
  left:-0%;
  margin-bottom:20%;
  width:100%;
  /* height:82.3%; */
  height:auto;
  opacity:.36;
  position: absolute;
  z-index:1;
}


.micFore{
  width:22.3%;
  /* margin-left:-9.5%; */
  /* margin-top:-48.3%; */
  bottom:-15%;
  grid-area: "stack";
  position:absolute;
  /* background-repeat: no-repeat; */
  z-index:0;
}

.lowerCont{
  background-image: url("https://64.media.tumblr.com/80064ba0770a6f482076e9ae8c33d68a/tumblr_nkaf0eRcKH1s4fz4bo1_r3_500.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top:-1200px;
  height:1400px;
  position:absolute;
}

@keyframes keyframetemplate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


